body {
background-image: url('https://images.pexels.com/photos/11665732/pexels-photo-11665732.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
background-size: cover;
height: 100vh;
} 



